@font-face {
    font-family: 'Pixel Operator';
    src: url('./fonts/PixelOperator-Bold.woff2') format('woff2'),
        url('./fonts/PixelOperator-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixel Operator';
    src: url('./fonts/PixelOperator.woff2') format('woff2'),
        url('./fonts/PixelOperator.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'League Gothic';
    src: url('./fonts/LeagueGothic-Regular.woff2') format('woff2'),
        url('./fonts/LeagueGothic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DotGothic16';
    src: url('./fonts/DotGothic16-Regular.woff2') format('woff2'),
        url('./fonts/DotGothic16-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexSansJP';
    src: url('./fonts/IBMPlexSansJP-Regular.woff2') format('woff2'),
        url('./fonts/IBMPlexSansJP-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 0.5;
        border-radius: 20%;
    }
    100%{
        transform: translateY(-40vh) rotate(720deg);
        opacity: 0;
        border-radius: 20%;
    }
}

#linkIcon {
  height: 15px;
  width: 15px;
  position: absolute;
  left: 11px;
  top: 55px;
  border-radius: 2px;
  filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.15));
}

a, a:hover, a:focus, a:active {
  color: inherit;
  text-decoration: underline;
}

.shapesBackground {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.shapesAreOff {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
}
.shapesBackground li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    animation: animate 19s linear infinite;
}
.shapesAreOff li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    animation: animate 19s linear infinite;
}

.shapesBackground li:nth-child(0) {
    left: 9%;
    width: 5vw;
    height: 5vw;
    bottom: -5vw;
    animation-delay: 5s;
}
.shapesBackground li:nth-child(1) {
    left: 8%;
    width: 4.8vw;
    height: 4.8vw;
    bottom: -4.8vw;
    animation-delay: 8s;
}
.shapesBackground li:nth-child(2) {
    left: 90%;
    width: 3.3vw;
    height: 3.3vw;
    bottom: -3.3vw;
    animation-delay: 11s;
}
.shapesBackground li:nth-child(3) {
    left: 15%;
    width: 4.6vw;
    height: 4.6vw;
    bottom: -4.6vw;
    animation-delay: 5s;
}
.shapesBackground li:nth-child(4) {
    left: 69%;
    width: 4vw;
    height: 4vw;
    bottom: -4vw;
    animation-delay: 13s;
}
.shapesBackground li:nth-child(5) {
    left: 47%;
    width: 2.8vw;
    height: 2.8vw;
    bottom: -2.8vw;
    animation-delay: 23s;
}
.shapesBackground li:nth-child(6) {
    left: 38%;
    width: 4vw;
    height: 4vw;
    bottom: -4vw;
    animation-delay: 33s;
}
.shapesBackground li:nth-child(7) {
    left: 79%;
    width: 3.5vw;
    height: 3.5vw;
    bottom: -3.5vw;
    animation-delay: 15s;
}
.shapesBackground li:nth-child(8) {
    left: 53%;
    width: 4vw;
    height: 4vw;
    bottom: -4vw;
    animation-delay: 19s;
}
.shapesBackground li:nth-child(9) {
    left: 29%;
    width: 4.9vw;
    height: 4.9vw;
    bottom: -4.9vw;
    animation-delay: 46s;
}

#desktop {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #ffffff;
  font-family: 'IBMPlexSansJP', sans-serif;
}

h1 {
  font-size: 24pt;
  margin-block-end: 20px;
}


@keyframes flicker {
  50% {
    opacity: 0.55;
    filter: alpha(opacity=55);
  }
}

iframe {
  width: 100%;
  display: block;
  object-fit: fill;
  height: 20vw;
  border: 0;
}

.crt {
    position: fixed;
    z-index: 99999;
    opacity: .7;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    background-image: radial-gradient(ellipse at center, transparent 0, transparent 60%, rgba(0, 0, 0, .25) 100%), repeating-linear-gradient(0deg, transparent 1px, transparent 2px, rgba(0, 0, 0, .3) 3px, rgba(0,0,0,.3) 4px);
    background-size: 100% 100%, 100% 6px;
    animation: flicker 5s linear infinite;
}

.paperSelect {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 5%;
  height: 90%;
}

.settingsRow {
  display: grid;
  grid-template-columns: 35% 65%;
  padding-right: 5%;
  padding-left: 5%;
  height: 35px;
  text-align: left;

  p {
    margin-left: 8px;
    margin-block-start: 7px;
    margin-block-end: 0px;
  }
}

.settingsDivider {
  width: 90%;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13px;
  margin-bottom: 12px;
}

.settingsButtons {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.modeButton.selected {
  background-color: transparent !important;
}

.modeButton.unselected:after {
  background-color: rgba(0, 0, 0, 0.5) !important;
  z-index: 10;
  display: block;
  content: "";
  height: 100%;
  border-radius: 40px;
}

.paperOption {
  text-align: center;
  margin-bottom: 25%;
}

.paperPreview {
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  background-color: blue;
  border-radius: 3px;
}

#settingsContent {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 20px;
}

.settingsOption {
  width: 90%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 3px;
}

.paperPreview#light, .paperPreview#retro {
    box-shadow:inset 0px 0px 0px 1px #dddddd;
}
.paperPreview#twilight {
    box-shadow:inset 0px 0px 0px 1px #d13800;
}
.paperPreview#dark {
    box-shadow:inset 0px 0px 0px 1px #383838;
}

.paperVideo {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: none;

}
.wallpaper {
  position: fixed;
  height: 100%;
  width: 100%;
}
.wallpaper#shapesPreview, .paperPreview#shapesPreview{
  background-image: url("./wallpaper/shapes-preview.jpg");
  background-size: cover;
  background-position-x: 50%;
}
.wallpaper#hudPreview, .paperPreview#hudPreview{
  background-image: url("./wallpaper/hud-preview.jpg");
  background-size: cover;
  background-position-x: 50%;
}
.wallpaper#portholePreview, .paperPreview#portholePreview{
  background-image: url("./wallpaper/porthole-preview.png");
  background-size: cover;
  background-position-x: 50%;
}
.wallpaper#sunset, .paperPreview#sunset{
  background-image: url("./wallpaper/sunset.jpeg");
  background-size: cover;
  background-position-x: 50%;
}
.wallpaper#underpass, .paperPreview#underpass{
  background-image: url("./wallpaper/underpass.jpg");
  background-size: cover;
  background-position-y: 50%;
}
.wallpaper#enjp5, .paperPreview#enjp5{
  background-image: url("./wallpaper/enjp5.png");
  background-size: cover;
  background-position-y: 60%;
}
.wallpaper#pigeons, .paperPreview#pigeons{
  background-image: url("./wallpaper/pigeons.jpg");
  background-size: cover;
  background-position-y: 50%;
}
.wallpaper#dogs, .paperPreview#dogs{
  background-image: url("./wallpaper/malarkey-ollie.jpg");
  background-size: cover;
  background-position-x: 50%;
}
.wallpaper#vrchat1, .paperPreview#vrchat1{
  background-image: url("./wallpaper/vrchat-1.jpg");
  background-size: cover;
  background-position-x: 50%;
}
.wallpaper#vrchat2, .paperPreview#vrchat2{
  background-image: url("./wallpaper/vrchat-2.jpg");
  background-size: cover;
  background-position-x: 50%;
}
.wallpaper#img8461, .paperPreview#img8461{
  background-image: url("./wallpaper/IMG_8461.jpg");
  background-size: cover;
  background-position-y: 40%;
  background-position-x: 50%;
}
.wallpaper#burki, .paperPreview#burki{
  background-image: url("./wallpaper/burki-art.png");
  background-size: cover;
  background-position-x: 100%;
}

.light li, .twilight li, .retro li {
  background: rgba(43, 43, 43, 0.4);
}

.dark li {
  background: rgba(10, 10, 10, 0.6);
}

.shapesBackground#dogs li, .shapesBackground#vrchat1 li {
  background: rgba(43, 43, 43, 0.8);
}

.shapesBackground#img8461 li, .shapesBackground#underpass li, .shapesBackground#shapesPreview li,
.shapesBackground#burki li, .shapesBackground#pigeons li {
  background: rgba(255, 255, 255, 0.6);
}

.shapesBackground#sunset li, .shapesBackground#vrchat2 li, .shapesBackground#hudPreview li,
.shapesBackground#portholePreview li {
  background: rgba(255, 255, 255, 0.3);
}

#bgLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

#bgLogoPreview {
  position: absolute;
  display: flex;
  width: 14%;
  align-content: center;
  transform: translate(14%, 135%);
}

.window {
  border-radius: 5px;
  font-size: 14px;
  z-index: 0;
}


.light, .twilight, .dark {
  .window {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  }
  .close {
    transition: background-color 0.1s ease;
  }
}

.retro .window{
  box-shadow: 10px 10px #000000;
}


.windowheader {
  padding-left: 5px;
  height: 30px;
  align-content: center;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  display: grid;
  grid-template-columns: auto 32px;
  cursor: move;
}

.close {
  width: 32px;
  height: 30px;
  cursor: default;
  margin-top: 8px;
  border-radius: 0px 3px 0px 0px;
  position: absolute;
  right: 0;
  top: -8px;
}

.retro .close {
  width: 32px;
  height: 29px;
  border-radius: 0px 3px 0px 0px;
}

.close:before, 
.close:after {
    position: absolute;
    width: 1px;
    height: 15px;
    transform: rotate(45deg) translate(-50%, -50%);
    transform-origin: top left;
    content: '';
    top: 15px;
    right: 15px;
}
.close:after {
    transform: rotate(-45deg) translate(-50%, -50%);
}

.windowContent {
  width: 100%;
  top: 20px;
  left: 10px;
  height: calc(100% - 30px);
}

.iconImgText {
  border: 1px solid rgba(17,17,17,0);
}

#modeLight, #modeTwilight, #modeDark, #modeRetro, #modeEN, #modeJP {
  filter: drop-shadow( 3px 3px 5px black);
}

#modeLight {
  background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 83.91 83.91"><defs><style> .cls-1 { fill: %23ffffff; } </style></defs><path class="cls-1" d="M41.96,0C18.78,0,0,18.78,0,41.96s18.78,41.96,41.96,41.96,41.96-18.78,41.96-41.96S65.13,0,41.96,0ZM41.96,79.91c-20.93,0-37.96-17.03-37.96-37.96S21.03,4,41.96,4s37.96,17.03,37.96,37.96-17.03,37.96-37.96,37.96Z"/><path class="cls-1" d="M41.96,60.28c-1.1,0-2,.9-2,2v4.62c0,1.1.9,2,2,2s2-.9,2-2v-4.62c0-1.1-.9-2-2-2Z"/><path class="cls-1" d="M57.74,54.91c-.78-.78-2.05-.78-2.83,0s-.78,2.05,0,2.83l3.27,3.27c.39.39.9.59,1.41.59s1.02-.2,1.41-.59c.78-.78.78-2.05,0-2.83l-3.27-3.27Z"/><path class="cls-1" d="M66.9,39.96h-4.62c-1.1,0-2,.9-2,2s.9,2,2,2h4.62c1.1,0,2-.9,2-2s-.9-2-2-2Z"/><path class="cls-1" d="M56.33,29.59c.51,0,1.02-.2,1.41-.59l3.27-3.27c.78-.78.78-2.05,0-2.83s-2.05-.78-2.83,0l-3.27,3.27c-.78.78-.78,2.05,0,2.83.39.39.9.59,1.41.59Z"/><path class="cls-1" d="M41.96,23.63c1.1,0,2-.9,2-2v-4.62c0-1.1-.9-2-2-2s-2,.9-2,2v4.62c0,1.1.9,2,2,2Z"/><path class="cls-1" d="M26.17,29c.39.39.9.59,1.41.59s1.02-.2,1.41-.59c.78-.78.78-2.05,0-2.83l-3.27-3.27c-.78-.78-2.05-.78-2.83,0-.78.78-.78,2.05,0,2.83l3.27,3.27Z"/><path class="cls-1" d="M23.63,41.96c0-1.1-.9-2-2-2h-4.62c-1.1,0-2,.9-2,2s.9,2,2,2h4.62c1.1,0,2-.9,2-2Z"/><path class="cls-1" d="M26.17,54.91l-3.27,3.27c-.78.78-.78,2.05,0,2.83.39.39.9.59,1.41.59s1.02-.2,1.41-.59l3.27-3.27c.78-.78.78-2.05,0-2.83-.78-.78-2.05-.78-2.83,0Z"/><path class="cls-1" d="M41.96,28.65c-7.33,0-13.3,5.97-13.3,13.3s5.97,13.3,13.3,13.3,13.3-5.97,13.3-13.3-5.97-13.3-13.3-13.3ZM41.96,51.26c-5.13,0-9.3-4.17-9.3-9.3s4.17-9.3,9.3-9.3,9.3,4.17,9.3,9.3-4.17,9.3-9.3,9.3Z"/></svg>');
}
#modeTwilight {
  background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 83.91 83.91"><defs><style> .cls-1 { fill: %23ffffff; } </style></defs><path class="cls-1" d="M41.96,0C18.78,0,0,18.78,0,41.96s18.78,41.96,41.96,41.96,41.96-18.78,41.96-41.96S65.13,0,41.96,0ZM41.96,79.91c-20.93,0-37.96-17.03-37.96-37.96S21.03,4,41.96,4s37.96,17.03,37.96,37.96-17.03,37.96-37.96,37.96Z"/><path class="cls-1" d="M66.9,39.96h-4.62c-1.1,0-2,.9-2,2s.9,2,2,2h4.62c1.1,0,2-.9,2-2s-.9-2-2-2Z"/><path class="cls-1" d="M56.33,29.59c.51,0,1.02-.2,1.41-.59l3.27-3.27c.78-.78.78-2.05,0-2.83s-2.05-.78-2.83,0l-3.27,3.27c-.78.78-.78,2.05,0,2.83.39.39.9.59,1.41.59Z"/><path class="cls-1" d="M41.96,23.63c1.1,0,2-.9,2-2v-4.62c0-1.1-.9-2-2-2s-2,.9-2,2v4.62c0,1.1.9,2,2,2Z"/><path class="cls-1" d="M26.17,29c.39.39.9.59,1.41.59s1.02-.2,1.41-.59c.78-.78.78-2.05,0-2.83l-3.27-3.27c-.78-.78-2.05-.78-2.83,0-.78.78-.78,2.05,0,2.83l3.27,3.27Z"/><path class="cls-1" d="M23.63,41.96c0-1.1-.9-2-2-2h-4.62c-1.1,0-2,.9-2,2s.9,2,2,2h4.62c1.1,0,2-.9,2-2Z"/><path class="cls-1" d="M63.49,49.55h-10.63c1.54-2.21,2.4-4.85,2.4-7.59,0-7.33-5.97-13.3-13.3-13.3s-13.3,5.97-13.3,13.3c0,2.76.85,5.39,2.38,7.59h-11.31c-1.1,0-2,.9-2,2s.9,2,2,2h28.21s.01,0,.02,0c0,0,0,0,.01,0h15.53c1.1,0,2-.9,2-2s-.9-2-2-2ZM32.65,41.96c0-5.13,4.17-9.3,9.3-9.3s9.3,4.17,9.3,9.3c0,2.69-1.17,5.25-3.2,7.02-.24.21-.51.39-.77.57h-10.7c-2.47-1.75-3.94-4.56-3.94-7.59Z"/><path class="cls-1" d="M55.13,57.99h-26.35c-1.1,0-2,.9-2,2s.9,2,2,2h26.35c1.1,0,2-.9,2-2s-.9-2-2-2Z"/></svg>');
      }
#modeDark {
  background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 83.91 83.91"><defs><style> .cls-1 { fill: %23ffffff; } </style></defs><path class="cls-1" d="M41.96,0C18.78,0,0,18.78,0,41.96s18.78,41.96,41.96,41.96,41.96-18.78,41.96-41.96S65.13,0,41.96,0ZM41.96,79.91c-20.93,0-37.96-17.03-37.96-37.96S21.03,4,41.96,4s37.96,17.03,37.96,37.96-17.03,37.96-37.96,37.96Z"/><path class="cls-1" d="M41.7,17.34c-.32,0-.62.01-.93.02-.84.03-1.58.59-1.83,1.4-.25.81.03,1.68.7,2.19,3.88,2.94,6.11,7.4,6.11,12.25,0,8.47-6.89,15.36-15.35,15.36-3.46,0-6.86-1.18-9.55-3.33-.66-.53-1.59-.58-2.3-.13-.72.45-1.08,1.3-.9,2.12,2.45,11.21,12.56,19.35,24.05,19.35,13.58,0,24.62-11.04,24.62-24.62s-11.04-24.62-24.62-24.62ZM41.7,62.58c-7.88,0-14.98-4.57-18.43-11.37,2.25.89,4.68,1.36,7.13,1.36,10.67,0,19.35-8.68,19.35-19.36,0-4.19-1.31-8.14-3.71-11.41,9.29,2,16.28,10.28,16.28,20.16,0,11.37-9.25,20.62-20.62,20.62Z"/><path class="cls-1" d="M19.03,32.2c2.63.97,4.7,3.04,5.68,5.68.29.79,1.04,1.31,1.88,1.31s1.59-.52,1.88-1.31c.97-2.63,3.04-4.7,5.68-5.68.78-.29,1.31-1.04,1.31-1.88s-.52-1.58-1.31-1.88c-2.63-.97-4.7-3.04-5.68-5.68-.29-.78-1.04-1.31-1.88-1.31s-1.58.52-1.88,1.31c-.98,2.63-3.04,4.7-5.68,5.68-.79.29-1.31,1.04-1.31,1.88s.52,1.58,1.31,1.88ZM26.58,27.6c.77,1.03,1.69,1.95,2.72,2.72-1.03.77-1.95,1.69-2.72,2.72-.77-1.03-1.69-1.95-2.72-2.72,1.03-.77,1.95-1.69,2.72-2.72Z"/></svg>');
}
#modeRetro {
  background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 83.91 83.91"><defs><style> .cls-1 { fill: %23ffffff; } </style></defs><path class="cls-1" d="M41.96,0C18.78,0,0,18.78,0,41.96s18.78,41.96,41.96,41.96,41.96-18.78,41.96-41.96S65.13,0,41.96,0ZM41.96,79.91c-20.93,0-37.96-17.03-37.96-37.96S21.03,4,41.96,4s37.96,17.03,37.96,37.96-17.03,37.96-37.96,37.96Z"/><g><rect class="cls-1" x="20.77" y="65.07" width="35.56" height="1.78"/><path class="cls-1" d="M50.99,27.73h-19.56v12.44h21.33v-12.44h-1.78ZM50.99,38.4h-16v-7.11h16v7.11Z"/><rect class="cls-1" x="31.43" y="17.07" width="28.44" height="1.78"/><rect class="cls-1" x="22.54" y="57.96" width="1.78" height="1.78"/><rect class="cls-1" x="26.1" y="57.96" width="1.78" height="1.78"/><rect class="cls-1" x="29.66" y="57.96" width="1.78" height="1.78"/><rect class="cls-1" x="33.21" y="57.96" width="1.78" height="1.78"/><rect class="cls-1" x="36.77" y="57.96" width="1.78" height="1.78"/><rect class="cls-1" x="40.32" y="57.96" width="1.78" height="1.78"/><rect class="cls-1" x="43.88" y="57.96" width="1.78" height="1.78"/><rect class="cls-1" x="47.43" y="57.96" width="1.78" height="1.78"/><rect class="cls-1" x="50.99" y="57.96" width="1.78" height="1.78"/><rect class="cls-1" x="54.54" y="57.96" width="1.78" height="1.78"/><polygon class="cls-1" points="58.1 59.73 56.32 59.73 56.32 61.51 54.54 61.51 54.54 59.73 52.77 59.73 52.77 61.51 50.99 61.51 50.99 59.73 49.21 59.73 49.21 61.51 47.43 61.51 47.43 59.73 45.66 59.73 45.66 61.51 43.88 61.51 43.88 59.73 42.1 59.73 42.1 61.51 40.32 61.51 40.32 59.73 38.54 59.73 38.54 61.51 36.77 61.51 36.77 59.73 34.99 59.73 34.99 61.51 33.21 61.51 33.21 59.73 31.43 59.73 31.43 61.51 29.66 61.51 29.66 59.73 27.88 59.73 27.88 61.51 26.1 61.51 26.1 59.73 24.32 59.73 24.32 61.51 22.54 61.51 22.54 59.73 20.77 59.73 20.77 61.51 18.99 61.51 18.99 63.29 18.99 65.07 20.77 65.07 20.77 63.29 56.32 63.29 56.32 65.07 58.1 65.07 58.1 63.29 59.88 63.29 59.88 61.51 58.1 61.51 58.1 59.73"/><rect class="cls-1" x="27.88" y="56.18" width="1.78" height="1.78"/><rect class="cls-1" x="29.66" y="18.85" width="1.78" height="1.78"/><rect class="cls-1" x="31.43" y="56.18" width="1.78" height="1.78"/><rect class="cls-1" x="29.66" y="50.85" width="3.56" height="3.56"/><rect class="cls-1" x="34.99" y="56.18" width="1.78" height="1.78"/><rect class="cls-1" x="38.54" y="56.18" width="1.78" height="1.78"/><rect class="cls-1" x="42.1" y="56.18" width="1.78" height="1.78"/><rect class="cls-1" x="45.66" y="56.18" width="1.78" height="1.78"/><rect class="cls-1" x="49.21" y="56.18" width="1.78" height="1.78"/><rect class="cls-1" x="52.77" y="56.18" width="1.78" height="1.78"/><rect class="cls-1" x="56.32" y="56.18" width="1.78" height="1.78"/><rect class="cls-1" x="42.1" y="50.85" width="14.22" height="1.78"/><polygon class="cls-1" points="26.1 56.18 26.1 47.29 24.32 47.29 24.32 56.18 24.32 57.96 26.1 57.96 26.1 56.18"/><path class="cls-1" d="M63.43,41.96v-1.78h-1.78v-21.33h-1.78v1.78h-1.78v1.78h-28.44v-1.78h-1.78v1.78h-1.78v24.89h33.78v10.67h-1.78v1.78h1.78v1.78h1.78v-1.78h1.78v-1.78h1.78v-16h-1.78ZM27.88,24.18h28.44v19.56h-28.44v-19.56Z"/></g></svg>');
}

#modeEN {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_2' data-name='Layer 2' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 83.91 83.91'%3E%3Cdefs%3E%3Cstyle%3E .cls-1, .cls-2, .cls-3, .cls-4 %7B stroke-miterlimit: 80; %7D .cls-1, .cls-3 %7B stroke-width: 17.16px; %7D .cls-1, .cls-4 %7B stroke: %23c8102e; %7D .cls-2 %7B stroke-width: 28.6px; %7D .cls-2, .cls-3 %7B stroke: %23fff; %7D .cls-5 %7B fill: none; %7D .cls-4 %7B stroke-width: 11.44px; %7D .cls-6 %7B clip-path: url(%23clippath-1); %7D .cls-7 %7B fill: %23012169; %7D .cls-8 %7B clip-path: url(%23clippath-2); %7D .cls-9 %7B clip-path: url(%23clippath); %7D %3C/style%3E%3CclipPath id='clippath'%3E%3Ccircle class='cls-5' cx='41.96' cy='41.96' r='41.96'/%3E%3C/clipPath%3E%3CclipPath id='clippath-1'%3E%3Crect class='cls-5' x='-43.83' y='-.94' width='171.58' height='85.79'/%3E%3C/clipPath%3E%3CclipPath id='clippath-2'%3E%3Cpolygon class='cls-5' points='41.96 41.96 127.75 41.96 127.75 84.85 41.96 84.85 -43.83 84.85 -43.83 41.96 -43.83 -.94 41.96 -.94 127.75 -.94 41.96 41.96'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg class='cls-9'%3E%3Cg class='cls-6'%3E%3Cg%3E%3Cpath class='cls-7' d='M-43.83-.94v85.79H127.75V-.94H-43.83Z'/%3E%3Cpath class='cls-3' d='M-43.83-.94L127.75,84.85M127.75-.94L-43.83,84.85'/%3E%3Cg class='cls-8'%3E%3Cpath class='cls-4' d='M-43.83-.94L127.75,84.85M127.75-.94L-43.83,84.85'/%3E%3C/g%3E%3Cpath class='cls-2' d='M41.96-.94v85.79M-43.83,41.96H127.75'/%3E%3Cpath class='cls-1' d='M41.96-.94v85.79M-43.83,41.96H127.75'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
#modeJP {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_2' data-name='Layer 2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 83.91 83.91'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23bc002d; %7D .cls-2 %7B fill: %23fff; %7D %3C/style%3E%3C/defs%3E%3Ccircle class='cls-2' cx='41.96' cy='41.96' r='41.96'/%3E%3Ccircle class='cls-1' cx='41.96' cy='41.96' r='24.15'/%3E%3C/svg%3E");
}

#taskbar {
      z-index: 10000;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.containerVideo {
  background-color: black;
  margin-bottom: 2%;
}

.containerFlex {
  padding-bottom: 2%;
}

.light, .paperPreview#light {
  background-color: #ffffff;
  #bgLogo, #bgLogoPreview{
    svg{
      fill: #e0e0e0;
    }
  }

  .window {
    border: 1px solid #dddddd;
    background-color: #ffffff;
    color: #111111;
  }

  .settingsDivider {
    background-color: #bbbbbb;
  }

  .windowheader {
    background-image: linear-gradient(90deg, #dddddd 0%, #bbbbbb 100%);

    .close:hover {
      background-color: #ffffff;
    } 

    .close:before, .close:after {
      background-color: #111111;
    }
  }

  .settingsOption {
    border: 1px solid #bbbbbb;
  }

  .selected {
    background-color: #bbbbbb;
  }

  #modes {
    #modeContainer {
      #modeLight {
        background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 83.91 83.91"><defs><style> .cls-1 { fill: %23ffffff; fill-rule: evenodd; } </style></defs><path class="cls-1" d="M41.96,32.65c-5.13,0-9.3,4.17-9.3,9.3s4.17,9.3,9.3,9.3,9.3-4.17,9.3-9.3-4.17-9.3-9.3-9.3Z"/><path class="cls-1" d="M41.96,0C18.78,0,0,18.78,0,41.96s18.78,41.96,41.96,41.96,41.96-18.78,41.96-41.96S65.13,0,41.96,0ZM54.91,26.17l3.27-3.27c.78-.78,2.05-.78,2.83,0s.78,2.05,0,2.83l-3.27,3.27c-.39.39-.9.59-1.41.59s-1.02-.2-1.41-.59c-.78-.78-.78-2.05,0-2.83ZM39.96,17.01c0-1.1.9-2,2-2s2,.9,2,2v4.62c0,1.1-.9,2-2,2s-2-.9-2-2v-4.62ZM22.91,22.91c.78-.78,2.05-.78,2.83,0l3.27,3.27c.78.78.78,2.05,0,2.83-.39.39-.9.59-1.41.59s-1.02-.2-1.41-.59l-3.27-3.27c-.78-.78-.78-2.05,0-2.83ZM17.01,43.96c-1.1,0-2-.9-2-2s.9-2,2-2h4.62c1.1,0,2,.9,2,2s-.9,2-2,2h-4.62ZM29,57.74l-3.27,3.27c-.39.39-.9.59-1.41.59s-1.02-.2-1.41-.59c-.78-.78-.78-2.05,0-2.83l3.27-3.27c.78-.78,2.05-.78,2.83,0,.78.78.78,2.05,0,2.83ZM43.96,66.9c0,1.1-.9,2-2,2s-2-.9-2-2v-4.62c0-1.1.9-2,2-2s2,.9,2,2v4.62ZM41.96,55.26c-7.33,0-13.3-5.97-13.3-13.3s5.97-13.3,13.3-13.3,13.3,5.97,13.3,13.3-5.97,13.3-13.3,13.3ZM61.01,61.01c-.39.39-.9.59-1.41.59s-1.02-.2-1.41-.59l-3.27-3.27c-.78-.78-.78-2.05,0-2.83s2.05-.78,2.83,0l3.27,3.27c.78.78.78,2.05,0,2.83ZM66.9,43.96h-4.62c-1.1,0-2-.9-2-2s.9-2,2-2h4.62c1.1,0,2,.9,2,2s-.9,2-2,2Z"/></svg>');
      }
    }
  }
  #taskbar {
    background-image: linear-gradient(#cccccc 0%, #ffffff 5%, #ffffff 7%, #cccccc 10%, #dddddd 85%, #aaaaaa 100%);
    color: #111111;
  }
  .iconImgText:hover {
    background-color: rgba(17,17,17,0.1);
    border: 1px solid rgba(17,17,17,0.2);
    border-radius: 5px;
  }
  .paperPreview:hover {
    box-shadow:inset 0px 0px 0px 2px #dddddd;
  }

  .settingsOption:hover {
    box-shadow:inset 0px 0px 0px 2px #000000;
  }

  ::-webkit-scrollbar{
    background: #ffffff;
    border-radius: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #bbbbbb;
    border: 5px solid #ffffff;
  }
}

.twilight, .paperPreview#twilight {
  background-color: #EB4D14;
  #bgLogo, #bgLogoPreview{
    svg{
      fill: hsl(16, 84%, 46%);
    }
  }
  
  .window {
    border: 1px solid #ffffff;
    background-color: #EB4f14;
  }

  .settingsDivider {
    background-color: #d13800;
  }

  .windowheader {
    background-image: linear-gradient(90deg, #ffffff 0%, #dddddd 100%);

    color: #d34612;

    .close:hover {
      background-color: #EB4f14;
    } 

    .close:before, .close:after {
      background-color: #d34612;
    }

    .close:hover:before, .close:hover:after {
      background-color: #ffffff;
    }
  }

  .settingsOption {
    border: 1px solid #d13800;
  }

  .selected {
    background-color: #d13800;
  }

  #modes {
    #modeContainer {
      #modeTwilight {
        background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 83.91 83.91"><defs><style> .cls-1 { fill: %23ffffff; fill-rule: evenodd; } </style></defs><path class="cls-1" d="M41.96,0C18.78,0,0,18.78,0,41.96s18.78,41.96,41.96,41.96,41.96-18.78,41.96-41.96S65.13,0,41.96,0ZM54.91,26.17l3.27-3.27c.78-.78,2.05-.78,2.83,0s.78,2.05,0,2.83l-3.27,3.27c-.39.39-.9.59-1.41.59s-1.02-.2-1.41-.59c-.78-.78-.78-2.05,0-2.83ZM39.96,17.01c0-1.1.9-2,2-2s2,.9,2,2v4.62c0,1.1-.9,2-2,2s-2-.9-2-2v-4.62ZM22.91,22.91c.78-.78,2.05-.78,2.83,0l3.27,3.27c.78.78.78,2.05,0,2.83-.39.39-.9.59-1.41.59s-1.02-.2-1.41-.59l-3.27-3.27c-.78-.78-.78-2.05,0-2.83ZM15.01,41.96c0-1.1.9-2,2-2h4.62c1.1,0,2,.9,2,2s-.9,2-2,2h-4.62c-1.1,0-2-.9-2-2ZM55.13,61.99h-26.35c-1.1,0-2-.9-2-2s.9-2,2-2h26.35c1.1,0,2,.9,2,2s-.9,2-2,2ZM63.49,53.55h-15.53s0,0-.01,0c0,0-.01,0-.02,0h-28.21c-1.1,0-2-.9-2-2s.9-2,2-2h11.31c-1.53-2.2-2.38-4.83-2.38-7.59,0-7.33,5.97-13.3,13.3-13.3s13.3,5.97,13.3,13.3c0,2.74-.86,5.38-2.4,7.59h10.63c1.1,0,2,.9,2,2s-.9,2-2,2ZM66.9,43.96h-4.62c-1.1,0-2-.9-2-2s.9-2,2-2h4.62c1.1,0,2,.9,2,2s-.9,2-2,2Z"/><path class="cls-1" d="M41.96,32.65c-5.13,0-9.3,4.17-9.3,9.3,0,3.03,1.47,5.84,3.94,7.59h10.7c.26-.19.53-.36.77-.57,2.03-1.77,3.2-4.33,3.2-7.02,0-5.13-4.17-9.3-9.3-9.3Z"/></svg>');     
      }
    }
  }
  #taskbar {
    background-image: linear-gradient(#ff5518 0%, #ff8d41 5%, #ff7341 7%, #ff5518 10%, #ff6932 85%, #cc4312 100%);
    color: #ffffff;
  }
  .iconImgText:hover {
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 5px;
  }
  .paperPreview:hover, .settingsOption:hover {
    box-shadow:inset 0px 0px 0px 2px #ffffff;
  }

  ::-webkit-scrollbar{
    background: #eb4f14;
    border-radius: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #eb4f14; 
    border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffffff;
    border: 5px solid #eb4f14;
  }
}

.dark, .paperPreview#dark {

  background-color: #202020;

  #bgLogo, #bgLogoPreview{
    svg{
      fill: #1a1a1a;
    }
  }

  .window {
    border: 1px solid #383838;
    background-color: #222222;
  }

  .settingsDivider {
    background-color: #444444;
  }

  .windowheader {
    background-image: linear-gradient(90deg, #383838 0%, #686868 100%);

    .close:hover {
      background-color: #222222;
    }

    .close:before, .close:after {
      background-color: white;
    }
  }

  .settingsOption {
    border: 1px solid #686868;
  }

  .selected {
    background-color: #686868;
  }


  #modes {
    #modeContainer {
      #modeDark {
        background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 83.91 83.91"><defs><style> .cls-1 { fill: %23ffffff; fill-rule: evenodd; } </style></defs><path class="cls-1" d="M46.04,21.8c2.4,3.27,3.71,7.22,3.71,11.41,0,10.68-8.68,19.36-19.35,19.36-2.45,0-4.87-.47-7.13-1.36,3.44,6.81,10.55,11.37,18.43,11.37,11.37,0,20.62-9.25,20.62-20.62,0-9.88-6.99-18.16-16.28-20.16Z"/><path class="cls-1" d="M26.58,33.05c.77-1.03,1.69-1.95,2.72-2.72-1.03-.77-1.95-1.69-2.72-2.72-.77,1.03-1.69,1.95-2.72,2.72,1.03.77,1.95,1.69,2.72,2.72Z"/><path class="cls-1" d="M41.96,0C18.78,0,0,18.78,0,41.96s18.78,41.96,41.96,41.96,41.96-18.78,41.96-41.96S65.13,0,41.96,0ZM19.03,28.45c2.63-.97,4.7-3.04,5.68-5.68.29-.78,1.04-1.31,1.88-1.31s1.58.52,1.88,1.31c.97,2.63,3.04,4.7,5.68,5.68.78.29,1.31,1.04,1.31,1.88s-.52,1.58-1.31,1.88c-2.63.97-4.7,3.04-5.68,5.68-.29.79-1.04,1.31-1.88,1.31s-1.58-.52-1.88-1.31c-.97-2.63-3.04-4.7-5.68-5.68-.79-.29-1.31-1.04-1.31-1.88s.52-1.58,1.31-1.88ZM41.7,66.58c-11.49,0-21.61-8.14-24.05-19.35-.18-.83.18-1.68.9-2.12.72-.45,1.64-.39,2.3.13,2.7,2.15,6.09,3.33,9.55,3.33,8.46,0,15.35-6.89,15.35-15.36,0-4.85-2.23-9.32-6.11-12.25-.67-.51-.95-1.39-.7-2.19.25-.81.99-1.37,1.83-1.4.3-.01.61-.02.93-.02,13.58,0,24.62,11.04,24.62,24.62s-11.04,24.62-24.62,24.62Z"/></svg>');
      }
    }
  }
  #taskbar {
    background-image: linear-gradient(#333333 0%, #484848 5%, #484848 7%, #333333 12%, #444444 85%, #383838 100%);
    color: #ffffff;
  }
  .iconImgText:hover {
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 5px;
  }
  .paperPreview:hover, .settingsOption:hover {
    box-shadow:inset 0px 0px 0px 2px #ffffff;
  }

  ::-webkit-scrollbar{
    background: #222222;
    border-radius: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #222222;
    border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555;
    border: 5px solid #202020;
  }
}

.launching {
  font-family: 'League Gothic', sans-serif !important;
  color: #ffffff;
  position: absolute;
  text-align: center;
  display: flex;
  width: 100%;
  height: 100%;
  opacity: 0;

  h1 {
    font-size: 4vw;
    letter-spacing: 3px;
    margin: auto;
    top: 80%;
    font-weight: normal;
  }
}

.retro, .paperPreview#retro {

  font-family:'Pixel Operator', sans-serif !important;

  .jpFont, .jpFontHeader {
    font-family: 'DotGothic16', sans-serif !important;
  }

  background-image: linear-gradient(#c7efff 0%, #fdffcf 80%, #ffffff 100%); 

  #bgLogo, #bgLogoPreview{
    svg{
      fill: rgba(30,30,30,0.1);
    }
  }

  .window {
    border: 1px solid #000000;
    background-color: #ffffff;
    color: #111111;
    font-size: 18px;
  }

  .settingsDivider {
    background-color: #000000;
  }

  .windowheader {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #ffffff;
    border-bottom: 1px solid #000000;

    .close:hover {
      background-color: #000000;
    }

    .close:before, .close:after {
      background-color: #111111;
    }

    .close:hover:before, .close:hover:after {
      background-color: #ffffff;
    }
  }

  .settingsOption {
    border: 1px solid #000000;
  }

  .selected {
    background-color: #000000;
    color: #ffffff;
  }


  .icon {
    font-size: 18px;
  }

  .crtText {
    font-size: 16px;
    text-align: center;
  }

  h1 {
    font-size: 36px;
  }

  .jpFont {
    font-size: 13px;
  }

  .jpFontHeader {
    font-size: 28px;
  }

  #modes {
    #modeContainer {
      #modeRetro {
        background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 83.91 83.91"><defs><style> .cls-1 { fill: %23ffffff; fill-rule: evenodd; } </style></defs> <rect class="cls-1" x="33.21" y="59.74" width="1.78" height="1.78"/><rect class="cls-1" x="43.88" y="59.74" width="1.78" height="1.78"/><rect class="cls-1" x="36.76" y="59.74" width="1.78" height="1.78"/><rect class="cls-1" x="49.21" y="57.96" width="1.78" height="1.78"/><rect class="cls-1" x="56.32" y="57.96" width="1.78" height="1.78"/><rect class="cls-1" x="52.76" y="57.96" width="1.78" height="1.78"/><rect class="cls-1" x="40.32" y="59.74" width="1.78" height="1.78"/><rect class="cls-1" x="26.1" y="59.74" width="1.78" height="1.78"/><rect class="cls-1" x="38.54" y="57.96" width="1.78" height="1.78"/><rect class="cls-1" x="29.65" y="59.74" width="1.78" height="1.78"/><rect class="cls-1" x="34.99" y="57.96" width="1.78" height="1.78"/><rect class="cls-1" x="27.88" y="57.96" width="1.78" height="1.78"/><rect class="cls-1" x="42.1" y="57.96" width="1.78" height="1.78"/><rect class="cls-1" x="45.65" y="57.96" width="1.78" height="1.78"/><rect class="cls-1" x="31.43" y="57.96" width="1.78" height="1.78"/><rect class="cls-1" x="24.32" y="57.96" width="1.78" height="1.78"/><rect class="cls-1" x="22.54" y="59.74" width="1.78" height="1.78"/><rect class="cls-1" x="58.1" y="59.74" width="1.78" height="1.78"/><rect class="cls-1" x="20.76" y="63.29" width="35.56" height="1.78"/><rect class="cls-1" x="34.99" y="31.29" width="16" height="7.11"/><path class="cls-1" d="M41.95,0C18.78,0,0,18.79,0,41.96s18.78,41.96,41.95,41.96,41.96-18.79,41.96-41.96S65.13,0,41.95,0ZM65.21,43.74v14.22h-1.78v1.78h-1.78v1.78h-1.78v1.78h-1.78v1.78h-1.78v1.78H20.76v-1.78h-1.78v-3.56h1.78v-1.78h1.78v-1.78h1.78v-10.67h1.78v-24.89h1.78v-1.78h1.78v-1.78h1.78v-1.78h28.44v1.78h1.78v21.33h1.78v1.78h1.78v1.78Z"/><path class="cls-1" d="M27.88,43.74h28.44v-19.56h-28.44v19.56ZM31.43,38.4v-10.67h21.33v12.44h-21.33v-1.78Z"/><rect class="cls-1" x="47.43" y="59.74" width="1.78" height="1.78"/><path class="cls-1" d="M26.1,57.96h1.78v-1.78h1.78v1.78h1.78v-1.78h1.78v1.78h1.78v-1.78h1.78v1.78h1.78v-1.78h1.78v1.78h1.78v-1.78h1.78v1.78h1.78v-1.78h1.78v1.78h1.78v-1.78h1.78v1.78h1.78v-1.78h1.78v1.78h1.78v-1.78h1.78v1.78h1.78v-10.67H26.1v10.67ZM42.1,50.85h14.22v1.78h-14.22v-1.78ZM29.65,50.85h3.56v3.56h-3.56v-3.56Z"/><rect class="cls-1" x="54.54" y="59.74" width="1.78" height="1.78"/><rect class="cls-1" x="50.99" y="59.74" width="1.78" height="1.78"/><polygon class="cls-1" points="56.32 22.4 58.1 22.4 58.1 20.63 59.88 20.63 59.88 18.85 31.43 18.85 31.43 20.63 29.65 20.63 29.65 22.4 56.32 22.4"/></svg>');
      }
    }
  }
  #taskbar {
    background-image: linear-gradient(#000000 0%, #ffffff 1%);
    color: #111111;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-top: 1px solid #000000;
    font-size: 16px;
  }
  .iconImgText:hover {
    background-color: rgba(17,17,17,0.1);
    border: 1px solid rgba(17,17,17,0.2);
    border-radius: 5px;
  }
  .paperPreview:hover {
    box-shadow:inset 0px 0px 0px 2px #dddddd;
  }

   .settingsOption:hover {
    box-shadow:inset 0px 0px 0px 2px #000000;
  }

  ::-webkit-scrollbar{
    background: #ffffff;
    border-radius: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #000000;
    border: 5px solid #ffffff;
  }
}

.icons {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1), 1px 1px 5px rgba(0, 0, 0, 1), 1px 1px 7px rgba(0, 0, 0, 1);
  top: 20px;
  left: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: calc(100% - 50px);
  flex-wrap: wrap;

}

.icon {
  font-size: 14px;
  padding-bottom: 20px;
  width: 100px;
  padding-right: 20px;
  cursor: default;
}

.icon .jpFont{
  font-size: 13px;
}

.iconImg {
  height: 80px;
  width: 100%;
  background-size: contain;
  filter: drop-shadow(2px 2px 6px rgba(0,0,0,0.15));
}

#projects, #info, #project, #extras {
  .icon {
    width: 140px;
    text-align: center;
    padding-bottom: 30px;
  }
  .iconImg {
    height: 120px;
    width: 100%;
  }
  .windowContent {
    overflow-y: auto;
    p {
      margin-block-end: 20px;
    }
  }
  .projectsContainer {
    padding: 15px 30px 60px 30px;
    display: grid;
    grid-template-rows: 150px;
    grid-auto-rows: 150px;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 40px;
  }
}

#extras .iconImg {
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  height: 100px;
}

  #project
  .containerFlex {
    gap: 2%;
    width: 100%;
    display: flex;
  }

  img {
    height: 100%;
    width: 100%; 
    object-fit: contain;
  }

  #imageWindow .windowheader {
    text-align: center;
  }
  #imageWindow .windowContent {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.crtText {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1), 1px 1px 5px rgba(0, 0, 0, 1), 1px 1px 7px rgba(0, 0, 0, 1);
  position: absolute;
  font-size: 12px;
  width: 60px;
  top: 33px;
}

.toggleSwitch {
  text-align: center;
}

.toggleSwitch .toggleLabel {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 30px;
  background-color: #555555;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggleSwitch .toggleLabel::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  top: 3px;
  left: 33px;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

.toggleSwitch .toggleInput:checked + .toggleLabel::before {
  transform: translateX(-30px);
}

.toggleInput {
  display: none;
}

.infoContainer, .projectContainer {
  padding: 20px 5% 20px 5%;
}

.projectContainer img {
  cursor: pointer;
}

#modes {
  height: 100%;
  text-align: center;
  position: absolute;
  top: 40px;
  right: 20px;
  width: 60px;
  #modeButtons {
    position: absolute;
    top: 80px;
    #modeContainer {
      padding-bottom: 20px;
      .modeButton {
        height: 60px;
        width: 60px;
      }
    }
  }
}

#taskbar{
  position: absolute;
  height: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
  font-size: 12px;
}

#clock {
  position: absolute;
  right: 20px;
  height: 40px;
  display: flex;
  justify-content: right;
  align-items: center;
}

#date {
  position: absolute;
  right: 90px;
  height: 40px;
  display: flex;
  justify-content: right;
  align-items: center;
}

svg {
    width: 60vw;
}

.path, .path2 {
  stroke: white;
  fill: none;
  stroke-width: 64;
}

.pathfill {
  fill: white;
  fill-rule: nonzero;
}

#intro {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.container4col {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  text-align: center;
  align-items: center;
}

.container3col {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  padding: 4vw;
  align-items: center;
}

.container2col {
  display: grid;
  grid-template-columns: 50% 50% 50% 50%;
  text-align: center;
}

.projectSelect {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  text-align: center;
}

.projectImgText {
  width: 3vw;
  #iconImg {
    height: 3vw;
    width: 3vw;
    background-size: contain;
    filter: drop-shadow(2px 2px 6px rgba(0,0,0,0.15));
  }
}

.infoContainer .container4col {
  div{
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 0%;
    margin-bottom: 20px;
  }
}